#ignoring datasets
A/input
A/output*
A/target
A/.idea
B/.bsp/
B/.idea/
B/input/
B/output/
B/project/
B/target/
C/.bsp/
C/.idea/
C/input/
C/output/
C/project/
C/target/
D/input
D/output*
D/target
D/.idea
